#sidebar{
    /* tamanho */
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;

    /* comportamento de flex e direção de coluna */
    display: flex;
    flex-direction: column;

    background-color: #f9f9f9;
    margin-right: 7px;

    /* posição: gruda ela no canto esquerdo com align-self e no topo com o top */
    position: sticky;
    top: 0;
    height: 100vh;
    align-self: flex-start;
}
.sidebar-footer{
    margin-top: auto;
    margin-bottom: 20px;
}
 
#sidebar.collapsed{
    margin-left: -264px;
}
.sidebar-logo{
    padding: 1.15rem 1.5rem;
    text-align: center;
}
.sidebar-logo a{
    color: #1d1d1d;
}
.sidebar-header{
    color: #1d1d1d;
    padding: 1.5rem 1.5rem .375rem;
    margin-left: 1.5rem;
}
a.sidebar-link{
    padding: .625rem 1.625rem;
    color: #1d1d1d;
    transition: all 0.35s;
    position: relative;
}
li.sidebar-item{
    text-align: center;
    margin-bottom: 20px;
}

/* active links */

.active-dashboard{
    color: #f9f9f9;
    background-color: #289ACF;
    padding: 10px 20px;
    border-radius: 20px;
}
.active-wallet{
    color: #f9f9f9;
    background-color: #FEA439;
    padding: 10px 20px;
    border-radius: 20px;
}
.active-qrcode{
    color: #f9f9f9;
    background-color: #14AE5C;
    padding: 10px 20px;
    border-radius: 20px;
}
.active-calendar{
    color: #f9f9f9;
    background-color: #7B4CFF;
    padding: 10px 20px;
    border-radius: 20px;
}
.active-bus{
    color: #f9f9f9;
    background-color: #ff3131;
    padding: 10px 20px;
    border-radius: 20px;
}


.toggler-btn{
    background-color: transparent;
    cursor: pointer;
    border: 0cap;
}

.toggler-btn i{
    font-size: 1.5rem;
    color: #1d1d1d;
    font-weight: bold;
}


@media screen and (max-width: 576px){
    /* TRANSFORMA A SIDEBAR EM GAVETA FLUTUANTE */
    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 999; /* Z-index alto para ficar na frente de tudo */
        
        /* A transição agora é no transform, para deslizar */
        transition: transform 0.35s ease-in-out;
    }

    /* SOBRESCREVE a regra de margin e usa transform para esconder */
    #sidebar.collapsed {
        transform: translateX(-100%);
    }

    /* ESTILIZA O OVERLAY (COMEÇA INVISÍVEL) */
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 998; /* Fica logo abaixo da sidebar */
        
        /* Começa invisível e não pode ser clicado */
        opacity: 0;
        pointer-events: none; 
        
        /* Animação suave de fade-in/fade-out */
        transition: opacity 0.35s ease-in-out;
    }

    /* "Quando a #sidebar NÃO tiver a classe .collapsed, 
       selecione o próximo irmão dela que seja o #overlay" */
    #sidebar:not(.collapsed) + #overlay {
        /* Torna o overlay visível e clicável */
        opacity: 1;
        pointer-events: auto;
    }
}