#sidebar{
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    /* colocar background color */
    display: flex;
    flex-direction: column;
}

#sidebar.collapsed{
    margin-left: -264px;
}

.toggler-btn{
    background-color: transparent;
    cursor: pointer;
    border: 0cap;
}

.toggler-btn i{
    font-size: 1.5rem;
    color: #1d1d1d;
    font-weight: bold;
}

@media screen and (max-width: 1170px){
    .sidebar-toggle{
        margin-left: -264px;
    }
    .sidebar-collapsed{
        margin-left: 0;
    }
}