@import url('sidebar.css');
@import url('frm_dashboard.css');
@import url('frm_carteira.css');

body {
    background-color: #dcdcdc;

    /* impede o scroll para todas as direções */
    overflow: hidden;
    padding: 7px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.main {
    /* tamanho */
    height: 100vh;
    width: 100%;
    min-width: 0;

    /* impede o scroll lateral e permite o vertical */
    overflow: hidden auto;

    /* cor background do conteudo */
    background-color: #EDEDED;
}

.main-container {
    background-color: transparent;
    padding: 20px;
}

.navbar {
    padding: 1.15rem 1.15rem;

    /* posição da navbar */
    position: sticky;
    top: 0;
    border-radius: 20px;
    background-color: #f7f7f7;
    box-shadow: 5px 5px 10px #bebebe,
        -5px -5px 10px #ffffff;

}